<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/project_2_partials/header.ejs%>
    <script type="text/babel" src="scripts/project_2_scripts/searchResult.js"></script>
    <script type="text/babel" src="scripts/project_2_scripts/search.js"></script>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    
    <div id="container">
        hi
    </div>
</body>

</html>