<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>

    <div class="container">
        <h2>Results</h2>        
        <strong>Weight: </strong><%= weight %> oz.<br>
        <strong>Item Type: </strong><%= type %><br>
        <strong>Price: </strong><%= rate %>
    </div>

</body>

</html>