<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div id="map"></div>
    
    <script type="text/javascript" src="scripts/healthie.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXTae5jTehBP01c8i5akTdqWHT7rvgz5U&libraries=places&callback=initMap" async defer></script>
    
</body>

</html>