<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2> Results</h2>

<% operand_1 %>
<% operand_2 %>
<% operator %>

</div>

</body>
</html>
